html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: hsl(269, 89%, 13%);
	color: #d2ebe9;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	max-width: 600px;
}

section {
	max-width: 600px;
	background: #230444;
	color: #d2ebe9;
	border-radius: 1em;
	box-shadow:
		5px 5px 9px hsla(269, 89%, 4%, .1),
		-5px -5px 9px hsla(269, 89%, 60%, .1);
	text-align: center;
	padding: 2em;
	margin: 1em 0;
}

@media (max-width: 500px) {
	section {
		padding: 1em;
	}
}